# Welcome to python!!

We're going to show you the basics of using python

In [1]:
2 + 2

4

# Loops

How to perform the same operations on a list of things

## Requires: 
- A collection ([2,3,5])
- An iterator variable (number)
- A body (print(number))

## Syntax
- A colon after the first line
- the body must be indented

In [2]:
for number in [2,3,5]:
    print(number)

0
1
2

# Getting list of files in a directory

## Requires
- Importing a library called os

## Syntax
- library.function() - lets python know what library you're pulling the function from

In [9]:
import os 

files = os.listdir('data')

print(files)

['1990.csv', '1984.csv', '1985.csv', '1991.csv', '1978.csv', '1987.csv', '1993.csv', '1992.csv', '1986.csv', '1979.csv', '1982.csv', '1996.csv', '1997.csv', '1983.csv', '1995.csv', '1981.csv', '1980.csv', '1994.csv', '2001.csv', '2000.csv', '2002.csv', '1999.csv', '1998.csv', '1977.csv', '1988.csv', '1989.csv']

# Looping through files

Use the collection you made above to loop through the files and print their names

In [10]:
for file in files: 
    print(file)

1990.csv
1984.csv
1985.csv
1991.csv
1978.csv
1987.csv
1993.csv
1992.csv
1986.csv
1979.csv
1982.csv
1996.csv
1997.csv
1983.csv
1995.csv
1981.csv
1980.csv
1994.csv
2001.csv
2000.csv
2002.csv
1999.csv
1998.csv
1977.csv
1988.csv
1989.csv

# How to read a data file with pandas

## Requires
- Loading the pandas data frame
- Knowing the file path for the file

## Syntax
- Use'as' to rename panda to pd for brevity
- library.function() syntax, as above

In [23]:
import pandas as pd

data1990 = pd.read_csv('data/1990.csv')

print(data1990)

      Unnamed: 0  record_id  month  day  year  plot_id species_id  sex  \
0            104      17230      2   25  1990        2         NL    M
1            105      17877      9   25  1990        2         NL    F
2            106      17941     10   16  1990        2         NL    F
3            107      18110     12   15  1990        2         NL    F
4            560      17298      3   30  1990        2         DM    F
...          ...        ...    ...  ...   ...      ...        ...  ...
1291       34511      18100     12   15  1990        7         RM    F
1292       34512      18102     12   15  1990        7         RM    M
1293       34513      18111     12   15  1990        7         RM    M
1294       34705      17828      9   22  1990        7         AH  NaN
1295       34706      17836      9   22  1990        7         AH  NaN

      hindfoot_length  weight             genus    species    taxa  \
0                33.0   218.0           Neotoma   albigula  Rodent
1                 NaN   176.0           Neotoma   albigula  Rodent
2                33.0   195.0           Neotoma   albigula  Rodent
3                33.0   193.0           Neotoma   albigula  Rodent
4                37.0    46.0         Dipodomys   merriami  Rodent
...               ...     ...               ...        ...     ...
1291             17.0    14.0   Reithrodontomys  megalotis  Rodent
1292             17.0     8.0   Reithrodontomys  megalotis  Rodent
1293             16.0     8.0   Reithrodontomys  megalotis  Rodent
1294              NaN     NaN  Ammospermophilus    harrisi  Rodent
1295              NaN     NaN  Ammospermophilus    harrisi  Rodent

             plot_type
0              Control
1              Control
2              Control
3              Control
4              Control
...                ...
1291  Rodent Exclosure
1292  Rodent Exclosure
1293  Rodent Exclosure
1294  Rodent Exclosure
1295  Rodent Exclosure

[1296 rows x 14 columns]

# How to read a collection of files

## Requires: 
- a for loop
- a collection

## Syntax
- variable.function syntax - head can only be used on data frames

In [24]:

for file in files: 
    data = pd.read_csv('data/'+file)
    print(data.head(1))

   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         104      17230      2   25  1990        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   218.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          51       9048      4   10  1984        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             32.0   157.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          58      10606      7   24  1985        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             30.0    91.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         108      18364      2   16  1991        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   185.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id  sex  \
0           7        506      1    8  1978        2         NL  NaN

   hindfoot_length  weight    genus   species    taxa plot_type
0              NaN     NaN  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          75      12299      2    1  1987        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             32.0   253.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         121      20992      7   14  1993        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             32.0    78.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         117      20040      5   30  1992        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             36.0   220.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          65      11329      3    9  1986        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             34.0   240.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          17       1756      4   29  1979        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   166.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          29       5180      1    1  1982        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0              NaN   206.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         134      24589     10   12  1996        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   127.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         137      25247      3   15  1997        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             34.0   147.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          41       8022      6   18  1983        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             30.0   126.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         130      22314      6    7  1995        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             34.0     NaN  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          26       4667      7    8  1981        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             30.0   130.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          22       2406      1   16  1980        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   184.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         128      21507      4   10  1994        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0              NaN   180.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         177      31717      1   21  2001        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   121.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         166      30172      1    8  2000        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             30.0   137.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id  sex  \
0         189      33339      1   12  2002        2         NL  NaN

   hindfoot_length  weight    genus   species    taxa plot_type
0              NaN     NaN  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         157      29039      1   16  1999        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             34.0   162.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         145      27734      3   29  1998        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   188.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0           0          1      7   16  1977        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             32.0     NaN  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0          94      13977      1   24  1988        2         NL   F

   hindfoot_length  weight    genus   species    taxa plot_type
0             34.0   161.0  Neotoma  albigula  Rodent   Control
   Unnamed: 0  record_id  month  day  year  plot_id species_id sex  \
0         102      15780      3   13  1989        2         NL   M

   hindfoot_length  weight    genus   species    taxa plot_type
0             33.0   242.0  Neotoma  albigula  Rodent   Control

# How to combine data tables

## Requires
- A collector data frame
- The function that concatenates dataframes (pd.concat)

## Syntax
- pd.concat takes the data frames to be concatenated in square brackets, and axis = 0, which concatenates thme end to end instead of side by side

In [20]:
alldata = pd.DataFrame()
for file in files: 
    data = pd.read_csv('data/'+file)
    alldata = pd.concat([alldata, data], axis=0)

print(alldata)

      Unnamed: 0  record_id  month  day  year  plot_id species_id  sex  \
0            104      17230      2   25  1990        2         NL    M
1            105      17877      9   25  1990        2         NL    F
2            106      17941     10   16  1990        2         NL    F
3            107      18110     12   15  1990        2         NL    F
4            560      17298      3   30  1990        2         DM    F
...          ...        ...    ...  ...   ...      ...        ...  ...
1557       34737      16566     10    8  1989        7         AB  NaN
1558       34738      16769     12    4  1989        7         AB  NaN
1559       34739      16777     12    4  1989        7         AB  NaN
1560       34752      15946      4    2  1989        7         RF    M
1561       34753      16652     11    4  1989        7         RF    F

      hindfoot_length  weight            genus     species    taxa  \
0                33.0   218.0          Neotoma    albigula  Rodent
1                 NaN   176.0          Neotoma    albigula  Rodent
2                33.0   195.0          Neotoma    albigula  Rodent
3                33.0   193.0          Neotoma    albigula  Rodent
4                37.0    46.0        Dipodomys    merriami  Rodent
...               ...     ...              ...         ...     ...
1557              NaN     NaN       Amphispiza   bilineata    Bird
1558              NaN     NaN       Amphispiza   bilineata    Bird
1559              NaN     NaN       Amphispiza   bilineata    Bird
1560             17.0    11.0  Reithrodontomys  fulvescens  Rodent
1561             18.0    15.0  Reithrodontomys  fulvescens  Rodent

             plot_type
0              Control
1              Control
2              Control
3              Control
4              Control
...                ...
1557  Rodent Exclosure
1558  Rodent Exclosure
1559  Rodent Exclosure
1560  Rodent Exclosure
1561  Rodent Exclosure

[34786 rows x 14 columns]

# How to write to csv:

## Requires
- the file path you'd like to write to 

## Syntax
- varaiable.function, as above

no output, check your files to see if it appeared.

In [21]:
alldata.to_csv('all_data.csv')